:root {
  --gold-50: #fefce8;
  --gold-100: #fffbc2;
  --gold-200: #fff487;
  --gold-300: #ffe643;
  --gold-400: #ffd30f;
  --gold-500: #efba03;
  --gold-600: #ce9000;
  --gold-700: #a46604;
  --gold-800: #884f0b;
  --gold-900: #734110;
  --gold-950: #432105;
}

.nr-conteiner {
  background-color: var(--gold-300);
  border: 2px solid var(--gold-600);
  border-radius: 15px;
  height: 600px;
  width: 600px;
  display: none;
  gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  transform: translate(60%, -100%);
  padding-left: 50px;
}

.nr-s1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
}

.nr-s1 img {
  width: 50px;
  height: 50px;
}

.nr-s2,
.nr-s3 {
  grid-column: 2/4;
  height: 100%;
}

.btn-cerrar {
  -webkit-user-drag: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 11px;
  width: 30px;
}

.btn-agregar {
  cursor: pointer;
  padding-bottom: 10px;
}
