:root {
  --gold-50: #fefce8;
  --gold-100: #fffbc2;
  --gold-200: #fff487;
  --gold-300: #ffe643;
  --gold-400: #ffd30f;
  --gold-500: #efba03;
  --gold-600: #ce9000;
  --gold-700: #a46604;
  --gold-800: #884f0b;
  --gold-900: #734110;
  --gold-950: #432105;
}

* {
  font-family: "Ysabeau Infant", sans-serif;
  color: var(--gold-950);
}

body {
  min-height: 100vh;
  background: var(--gold-500);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gold-400);
  border: 1px solid var(--gold-600);
  border-radius: 5px;
}
#soundcloud {
  width: 300px;
  height: 90px;
}
.img-header {
  width: 50px;
  height: 50px;
}
.conteiner {
  display: flex;
  flex-direction: row;
}

#section-1 {
  height: 600px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gold-600);
  border-radius: 5px;
  padding-top: 10px;
}
#section-1:hover {
  background-color: var(--gold-300);
}

#section-1 img {
  width: 200px;
  height: 500px;
  transition: transform 2s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#section-1 img:hover {
  transform: translateY(-30px);
}

#section-2 {
  height: 600px;
  width: 500px;
  border: 1px solid var(--gold-600);
  border-radius: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#section-2:hover {
  background-color: var(--gold-300);
  cursor: pointer;
}
#section-2 img {
  width: 250px;
}

.s2-img1 {
  transition: transform 2s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.s2-img1:hover {
  transform: translateY(-30px);
}

.s2-img2 {
  transition: transform 2s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.s2-img2:hover {
  transform: translateY(30px);
}

#btn-nuevaReceta {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#btn-nuevaReceta:hover {
  background-color: var(--gold-600);
  cursor: pointer;
}

#btn-nuevaReceta img {
  width: 50px;
}

#btn-recetario {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btn-recetario:hover {
  background-color: var(--gold-600);
  cursor: pointer;
}

#btn-recetario img {
  width: 50px;
}

#section-3 {
  height: 600px;
  width: 500px;
  border: 1px solid var(--gold-600);
  border-radius: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-3:hover {
  background-color: var(--gold-300);
}

#section-3 img {
  width: 200px;
  height: 500px;
  transition: transform 2s ease-in-out;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
#section-3 img:hover {
  transform: translateY(-30px);
}

footer {
  background-color: var(--gold-400);
  border: 1px solid var(--gold-600);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
